<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/tabletop.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Kotéjeux</ion-card-subtitle>
        <ion-card-title>Catalogue du KEJ</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Adresse</ion-card-title>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Centre oeucuménique</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card-header>
    </ion-card>    <ion-card>
      <ion-card-header>
        <ion-card-title>Cout</ion-card-title>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>1€/jeu</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
</ion-content>
